body{
	margin: 0;
}

nav{
	width: 100%;
	margin: 0;
}

nav ul{
	list-style-type: none;
	margin: 0;
	margin-bottom: .5rem;
	padding: 0;
	overflow: hidden;
	background-color: #808080;
	height: 1.65rem;
}

nav li{
	display: block;
	float: left;
	padding: .3rem .4rem .3rem .4rem;
	min-width: 3rem;
    text-align: center;
}

a, a:link{
	text-decoration: none;
}

nav a:link, a:visited{
	color: #000000;
}