:root{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #cccccc;
	line-height: 1.5em;
}

body{
	margin: 0;
	background: #202020;
}

main{
	width: 94%;
	max-width: 120vh;
	background: #00000040;
	margin: auto;
	padding: 1rem;
	border-radius: 1rem;
}

nav{
	width: 100%;
	margin: 0;
}

nav ul{
	list-style-type: none;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
	overflow: hidden;
	background-color: #000000cc;
	height: 1.65rem;
}

ul.nav li:last-child{
	float: right;
}

.dashboard ul{
	display: flex;
	justify-content: space-around;
}

.dashboard nav ul li{
	min-width: 5rem;
}

nav li{
	display: block;
	float: left;
	padding: .1rem .4rem .1rem .4rem;
	min-width: 3rem;
	text-align: center;
}

nav li:hover{
	background: #cccccc40;
}

a, a:link{
	text-decoration: none;
	color: currentColor;
	opacity: 0.8;
}

p a:link{
	text-decoration: underline;
}

.error{
	color: red;
}

.notification{
	position: fixed;
	right: 1rem;
	top: 1rem;
	margin: 0;
	padding: 0.5rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 2pt solid black;
	background-color: #202020;
	border-radius: 1rem;
	animation-name: fade;
	animation-duration: 4s;
}
@keyframes fade {
	0%{opacity: 0;}
	20%{opacity: 1;}
	80%{opacity: 1;}
	100%{opacity: 0;}
}

.warning{
	background: #00000040;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
}

.warning *{
	margin: 0.2rem;
}

.warning p{
	opacity: 0.8;
}

.warning.inactive{
	opacity: 0.7;
}

pre, .docsLinks{
	border: 1.2pt #cccccccc solid;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background: #00000080;
}

pre{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	background: #202020;
}

.docsLinks{
	display: flex;
}

.docsLinks, .docsLinks ul{
	list-style-type: none;
}

.docsLinks li{
	display: block;
	padding: 0;
}

.docsLinks h3{
	margin: 0;
}

.docsLinks h3, .docsLinks a{
	color: #cccccc;
}

a:hover, a:hover, ul.guilds li:hover a{
	color: #ffffff;
	opacity: 1;
	transition: linear 0.2s;
}

select{
	font-size: 1rem;
	color: #cccccc;
	background: #00000040;
	border: #00000040;
	border-radius: .5rem;
	padding: .3rem;
}

option{
	color: black;
}

input, button, textarea{
	color: #cccccc;
	background: #00000040;
	border: none;
	font-size: 1rem;
	padding: .3rem;
	transition: .4s;
	border-radius: .3rem;
	margin: .2rem;
}

.fields div div{
	border-radius: .3rem;
	margin: .2rem;
}

textarea{
	height: 5rem;
	resize: none;
}

label{
	color: #80ccff;
	margin-right: 0.5rem;
}

.commandBuilder{
	padding: 0.3rem;
	background: #20202080;
	border-radius: 1rem;
}

.commandBuilder > .mentions, .commandBuilder > .perms{
	display: none;
}

.commandBuilder.requires > .mentions, .commandBuilder.perms > .perms{
	display: grid;
}

.commandBuilder.requires > label.mentions, .commandBuilder.perms > label.perms{
	display: block;
}

.commandBuilder > input, .commandBuilder > textarea, .commandBuilder > button{
	width: 98%;
	display: block;
}

.commandBuilder > input[type="number"]{
	width: 2rem;
}

.embedBuilder > input{
	grid-column: span 2;	
}

.embedBuilder input.thumbnail, .embedBuilder input.author, .embedBuilder input.author_icon, .embedBuilder input.author_url{
	grid-column: span 3;
}

.embedBuilder input.message_title, .embedBuilder input.footer{
	grid-column: span 4;
}

.embedBuilder .description, .embedBuilder .add_field, .embedBuilder input.fields, .embedBuilder input.image, .fields{
	grid-column: span 6;
}

.embedBuilder{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
}

.fields div{
	display: grid;
	grid-template-columns: auto 5rem 2.6rem;
	margin-bottom: .5rem;
	background: #00000040;
	padding: .5rem;
	border-radius: 1rem;
}

.fields input, .fields div div, .fields button{
	grid-column: span 1;
}

.fields textarea{
	grid-column: span 3;
}

textarea#commandEditor{
	width: 98%;
	min-height: 60vh;
	tab-size: 4;
}

#command{
	min-width: 10rem;
	margin-right: .5rem;
}

label[for="prefix"]{
	font-size: 1.2rem;
	margin-top: 0;
}

button:hover{
	background: #505050;
}

ul.guilds{
	list-style: none;
}

ul.guilds img{
	height: 2.4rem;
	border-radius: 50%;
	margin-right: 0.2rem;
	float: left;
}

ul.guilds li{
	display: flex;
	justify-content: center;
	margin-bottom: 0.5rem;
}

ul.guilds li a{
	color: currentColor;
	font-size: 2rem;
}

hr{
	background: #cccccc;
}

.home h2{
	border: 2pt solid currentColor;
	display: inline;
	padding: 0.3rem;
	border-radius: 0.5em;
	transition: 0.5s;
}
.home h2:hover{
	background: #ffffff40;
}
.home img{
	height: 16rem;
	width: auto;
	border-radius: 8rem;
	margin-bottom: 1.5rem;
}

code{
	background-color: #202020;
	border: 2pt solid #101010;
	border-radius: .3rem;
}

.hljs, pre code{
	background: none;
	border: none;
}